@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    text-decoration: none;
    transition: all 10ms ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
main{
    position: absolute;
    background: #46B1FF;
    width: 80%;
    height: 100%;
    display: block;
    border-radius: 10px;

}
#note{
        position: absolute;
        outline: none;
        font-size: 1.5em;
        padding: 40px;
        border-radius: 10px;
        resize: none;
        height: 75vh;
        width: 80%;
        bottom: 2.5%;
        right: 10%;
        
    
        background: #FFFFFF;
        border: none;
}
#salvar{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 10%;
    font-size: 2em;
    font-family: 'IBM Plex Mono';;
    color: #FDFDFD; 

    background: #61C016;
    border: 1px solid #27780A;
    border-radius: 10px;
    padding: 10px;

}
 #salvar:hover{
    background: #234708;
}
#titulo{
    position: absolute;
    outline: none;
    display: block;
    height: fit-content;
    width: 80vh;
    top: 10%;
    left: 20%;
    font-size: 1.5em;
    padding: 12px;
    background: #FFFFFF;
    border-radius: 5px;
}
a{
    position: absolute;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    font-size: 2em;
    color: #FDFDFD;
    padding: 5px; 
    cursor: pointer;
    background: #DF1313;
    border: 1px solid #710639;
    border-radius: 10px;
    right: 0%;
    
}
a:hover{
    background: #530606;
}