@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
body{
    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Mono';

}
main{
    position: absolute;
    background: #46B1FF;
    width: 80%;
    height: 80%;

}
#divhora{
    position: absolute;
    height: fit-content;
    width: fit-content;
    background: #61C016;
    border: 1px solid #27780A;
    border-radius: 5px;
    padding: 10px;
    right: 3%;
    top: 5%;

}
#note{
    margin-top: 5%;
    margin-left: 5%;
    outline: none;
 	height: 400px;
    background: #FFFFFF;
    border: none;

}
#salvar{
    position: absolute;
    width: 204px;
    height: 69px;
    right: 5%;
    bottom: 10%;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'IBM Plex Mono';;
    color: #FDFDFD; 

    background: #61C016;
    border: 1px solid #27780A;
    border-radius: 10px;
}
#salvar:hover{
    background: #234708;
}
#titulo{
    position: absolute;
    display: block;
    font-size: 20px;
    right: 50%;
    top: 3%;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
    height: 50px;
	text-align: center;
    background: #d3d3d3;
    border: none;

}

a{
    
    width: fit-content;
    height: fit-content;
    right: 6%;
    bottom: 0;
    margin-left: 800px;
    font-size: 32px;
    color: #FDFDFD;
    padding: 10px; 
    cursor: pointer;
    background: #DF1313;
    border: 1px solid #710639;
    border-radius: 10px;
    text-decoration: none;
    
    z-index: 3;
    
}
a:hover{
    background: #530606;
}
